/* Styles CSS */
/* Palette de couleurs sombre avec des touches de rouge et de vert */
body {
    background-color: #121212;
    color: #f5f5f5;
}

/* Amélioration du menu */
.ul {
    background-color: transparent;
    list-style: none;
    padding: 10px 0; /* Ajout de rembourrage vertical pour l'espacement */
    margin: 0;
    text-align: center; /* Centrer les éléments */
}

.li {
    display: inline-block; /* Pour que les éléments soient alignés horizontalement */
    margin: 0 15px; /* Espacement horizontal entre les éléments */
}

.button {
    background-color: transparent;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    border: none;
    font-size: 22px;
    font-weight: 700;
    padding: 10px 20px; /* Ajustement du rembourrage */
    cursor: pointer;
    text-align: center;
    transition: 0.3s ease; /* Transition plus fluide */
    position: relative;
}

.p {
    margin: 0;
    z-index: 2;
    position: relative;
}

.button:hover {
    color: rgb(172, 40, 0); /* Changement de couleur au survol */
}

.button:hover::before {
    transform: rotate(0deg);
    width: 100%;
    height: 40px;
    top: 2px;
    border-radius: 3px;
    background-color: rgb(255, 83, 53); /* Arrière-plan au survol */
    transition: 0.3s ease; /* Transition plus fluide */
}

.button::before {
    content: "";
    border-radius: 1px;
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: tomato;
    left: -10px;
    top: 19px;
    cursor: pointer;
    transform: rotate(225deg);
    transition: 0.3s ease;
    z-index: -1;
}

.button:active::before {
    background-color: rgb(255, 38, 0); /* Couleur lors du clic */
}

/* En-tête avec image de profil */
.header {
    background: #1a1a1a;
    text-align: center;
    padding: 40px;
    border-bottom: 2px solid #eb2f2f;
}

.profile-img {
    border-radius: 50%;
    max-width: 150px;
    border: 3px solid #eb2f2f;
}

h1, h2 {
    color: #eb2f2f;
    text-transform: uppercase;
}

.section {
    padding: 40px;
    transition: all 0.5s ease;
    opacity: 0;
    transform: translateY(20px);
}

.section.show {
    opacity: 1;
    transform: translateY(0);
}

.card {
    background-color: #1a1a1a;
    border: none;
    color: #f5f5f5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.card-body {
    text-align: center;
}

.hidden {
    opacity: 0;
    transform: translateY(20px);
}
